html {
  color: white;
}

.outer {
  background-color: #4B4D57;
  width: 816px;
  height: 1056px;
  position:  absolute;
}

.inner {
  background-color: #4B4D57;
  border: 5px solid #9D9EA3;
  width: 656px;
  height: 976px;
  margin: 0 auto;
  position:  relative;
  margin-top: 35px;
  padding-left: 40px;
  padding-right: 40px;

}

.title {
  font-size: 36px;
  font-style: italic;
  text-align: center;
  margin-top: 60px;
}

.nav {
  text-align: center;
  font-family: arial;
}

h2 {
  font-family: arial;
}

img {
  float: right;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 20px;
}

p {
    font-size: 20px;

}



